
$accentColor =#409EFF//默认主题颜色
$textColor = #303133//默认字体颜色
$borderColor = #DCDFE6 //默认边框颜色
$codeBgColor = #282c34//默认背景颜色

body, html
    background-color #ccc

.theme-container
    position relative
    max-width 1280px
    margin 0 auto
    background-color #fff

.custom-block.tip
    border-color $accentColor

.navbar
    width 1280px
    margin auto

.page
    min-height 90vh
    padding-left: 22em

.sidebar
    position sticky
    float left
    width: 22em
    max-height 95vh
    overflow scroll
    &::-webkit-scrollbar
        display none
.home
    height 30vh